<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><%=link_to (t "all_fibres"), fibres_path %></li>
        <li><%=link_to (t "add_fibre"), fibres_new_path %></li>
        <hr>
        <li><%=link_to (t "all_locations"), locations_index_path %></li>
        <li><%=link_to (t "all_wires"), wires_view_path %></li>
      </ul>
    </div>

    <div class="col-sm-9">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <h1><%= t "search_results"%></h1>
      <%= form_tag(fibres_search_path) do %>
        <%= label_tag (t "cable") %>
        <%= select_tag "name", options_from_collection_for_select(Cable.all, "name", "name") %>
        <%= label_tag (t "location") %>
        <%= select_tag "location", options_from_collection_for_select(Location.all, "name", "name") %>
        <%= submit_tag (t "search"), class: "btn btn-primary btn-xs" %>
      <% end %>
      <table class="table">
        <thead>
          <th><%= t "num_of_fiber"%></th>
          <th><%= t "num_of_wires"%></th>
          <th><%= t "location"%></th>
          <th><%= t "shelf"%></th>
          <th><%= t "status"%></th>
          <th><%= t "name_of_system"%></th>
          <th><%= t "name_of_cabinet"%></th>
          <th><%= t "room"%></th>
        </thead>
        <tbody>
          <% @fibres.each do |value| %>
            <tr>
              <td><%= value['number'] %></td>
              <td><%= value['name'] %></td>
              <td><%= value['location'] %></td>
              <td><%= value['shelf'] %></td>
              <% if value['damage'] %>
                <td><span class="label label-danger"><%= t "bad"%></span></td>
              <% else %>
                <td><span class="label label-success"><%= t "good"%></span></td>
              <% end %>
              <td><%= value['system'] %></td>
              <td><%= value['cabinet_name'] %></td>
              <td><%= value['room'] %></td>
              <td><%= link_to (t "edit"), fibres_edit_path(:id => value['id']), class: "btn btn-warning btn-xs"%>
              <td><%= link_to (t "delete"), fibres_delete_path(:id => value['id']), class: "btn btn-danger btn-xs", data: { confirm: (t "are_you_sure") } %>
            </tr>
          <% end %>
        </tbody>
    </div>
  </div>
</div>
