<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><%=link_to (t "all_fibres"), locations_path %></li>
        <li><%=link_to (t "all_locations"), wires_view_path %></li>
        <li><%=link_to (t "all_wires"), fibres_path %></li>
      </ul>
    </div>

    <div class="col-sm-9">
      <div class="jumbotron">
        <h1><%= (t "welcome") %></h1>
        <p><%= (t "choose") %></p>
        <p><%=link_to (t "display_cable"), wires_view_path, class: "btn btn-primary" %> <%=link_to (t "display_location"), locations_path, class: "btn btn-primary" %> <%=link_to (t "display_fiber"), fibres_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>
