<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><%=link_to 'Wszyskie kable', wires_view_path %></li>
        <li class="active"><%=link_to 'Utwórz nowy kabel', wires_new_path %></li>
      </ul>
    </div>

    <div class="col-sm-9">
      <%= form_for(@cable, url: wires_create_path) do |f| %>
        <div class="form-group">
          <%= f.label :name, "Nazwa kabla" %>
          <%= f.text_field :name, class: 'form-control' %>
          <%= f.label :name, "Obiekt początkowy" %>
          <% options = options_from_collection_for_select(@locations, :id, :name) %>
          <%= f.select :from, options, class: 'form-control' %>
          <%= f.label :name, "Obiekt końcowy" %>
          <%= f.select :to, options, class: 'form-control' %>
        </div>
        <%= f.submit "Dodaj kabel", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
