<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><%=link_to (t "all_wires"), wires_view_path %></li>
        <li><%=link_to (t "add_wires"), wires_new_path %></li>
        <hr>
        <li><%=link_to (t "all_locations"), locations_path %></li>
        <li><%=link_to (t "all_fibres"), fibres_path %></li>
      </ul>
    </div>

    <div class="col-sm-9">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <table class="table">
        <thead>
          <th><%= t "cable_name" %></th>
          <th><%= t "from" %></th>
          <th><%= t "to" %></th>
        </thead>
        <tbody>
          <% @cables.each do |value| %>
            <tr>
              <td><%= value['name'] %></td>
              <td><%= value['from'] %></td>
              <td><%= value['to'] %></td>
              <td><%= link_to (t "delete"), wires_delete_path(:id => value['id']), class: "btn btn-danger btn-xs", data: { confirm: (t "are_you_sure") }%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
